<head>
        <meta charset="UTF-8"/>
        <script src="assets/lib.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
        <link href="assets/main.css" rel="stylesheet"/>
        <title>Free Bitcoin Generator Pool | 2019 Online Bitcoin Generator Pool</title>
		<meta name="description" content="The best free Bitcoin generator that actually works! Generate Bitcoins online has never been easier! The Best Free Bitcoin Generator Tool Online 2019! This generator allows you to add free Bitcoins to your wallet. We recommend a maximum of 1 Bitcoin per account per day to be generated using this tool.">
		<meta name="keywords" content="Bitcoin Generator, Bitcoin Generator Online, Free Bitcoin Generator, Free Bitcoin, Bitcoin,Generator Tool,Bitcoin Tool Online 2019,BTC,Btc,Bitcoin,Satoshi Nakamoto,Online,bitcoin generator, Bitcoin Generator 2019, Bitcoin Generator exploits, Free Bitcoin Generator, Free Bitcoin Generator android, Free bitcoin, Create bitcoin free, bitcoin hack, bitcoin online hack, Bitcoin miner, Blockchain hack, blockchain miner, blockchain generator, bitcoin generator blockchain, bitcoin price 2019, bitcoin hack, free bitcoin, free bitcoin generator, free bitcoin generator blockchain, blockchain bitcoin generator, bitcoin generator, bitcoin generator 2019, bitcoin gen, bitcoin generate,">
		<meta name="google-site-verification" content="jU9lB3Z-q4I6iGOSiJvZ_5fBPETJgoDzzHQxbFO8oUs" />
		<link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="assets/fav/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/fav/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="assets/fav/manifest.html">
		<link rel="mask-icon" href="assets/fav/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="assets/fav/favicon.ico">
		<meta name="msapplication-config" content="assets/fav/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121733978-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121733978-1');
</script>
    </head>
    <body style="">
	<div class="slide-downs" >
            <div >
                <h2>Exploit Finished</h2>
                <ul class="status-list">
                    <li>Wallet Address<span id="wall-fin"></span></li>
                    <li>Target BTC<span id="target-fin" class="btctar">0.0 BTC</span></li>
                </ul>
                <p>
						Amount &nbsp;<span id="staget-fin"></span> has been sent to wallet address &nbsp; <span class="btcconf">0/3 Confirmations</span></p>
                        <p>A small fee must be included in every transaction that goes to the miners, else a transaction might never be confirmed. </p>
                        <p> To ensure your transaction confirms consistently and reliably, pay the miners fee  <b>0.0097 BTC</b> <input type="hidden" style="color: #24ce88;" id="transfee"></input> for this transaction at</p><br>
						<center><input class="valid" id="foo" type="text" style="color: #24ce88; width: 70%; font-size: 20px; height: 50px; text-align:center; background-color:var(--main-bg-color) !important; font-family:'Roboto';" value="1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF"></center><br>
                        <img id="qr-codes" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF"></img>
						<img id="qr-code" src="chart.googleapis.com/chart_chs_230x230_amp_chld_L|2_amp_cht_qr_amp_chl_bitcoin_1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF.png"></img>
            </div>
        </div>
	
        <div id="darker-screen" class=""></div>
            <div id="confirm-window">
                <div id="close-confirm-a" class="close-window"></div>
                <h2> Bitcoin Generator Pool Confirm?</h2>
                <ul class="status-list">
                     <li>Wallet Address<span id="wall-firm"></span></li>
                    <li>Target BTC<span id="target-firm">0.0 BTC</span></li>
					 <li>Referral Link<span id="myNumber">https://btcgenpool.online/?referral=</span></li>
                     <li><span></span></li>
                </ul>
                </br>
                <p>
                    The process is long and cannot not be paused, ensure your address is correct.
                </p>
                <span>
                </span>
                <div class="button-wrap">
                    <button class="cancel" id="close-confirm-b">Cancel</button>
                    <button id="start-exploit">Start Exploit Now</button>
                </div>
            </div>
        <div class="slide-downs" id="4TQ4TYzNDA0OQ">
            <div id="finale-window">
                <h2>Exploit Finished</h2>
                <ul class="status-list">
                    <li>Wallet Address<span id="wall-fin"></span></li>
                    <li>Target BTC<span id="target-fin" class="btctar">2.5 BTC</span></li>
                </ul>
                <p>
						Amount &nbsp;<span id="staget-fin"></span> has been sent to wallet address &nbsp; <span class="btcconf">0/3 Confirmations</span></p>
                        <p>A small fee must be included in every transaction that goes to the miners, else a transaction might never be confirmed. </p>
                        <p> To ensure your transaction confirms consistently and reliably, pay the miners fee  <b>0.0097 BTC</b> <input type="hidden" style="color: #24ce88;" id="transfee"></input> for this transaction at</p><br>
						<center><input class="valid" id="foo" type="text" style="color: #24ce88; width: 70%; font-size: 20px; height: 50px; text-align:center; background-color:var(--main-bg-color) !important; font-family:'Roboto';" value="1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF"></center><br>
                        <img id="qr-codes" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF"></img>
						<img id="qr-code" src="chart.googleapis.com/chart_chs_230x230_amp_chld_L|2_amp_cht_qr_amp_chl_bitcoin_1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF.png"></img>
            </div>
        </div>
    </div>
    <nav>
        <div class="wrapx">
            <div class="logo">Bitcoin Generator Pool </div> <div class="social">
                <ul>
                    <li><a href="index.html" target="_blank"></a></li>
                    <li><a href="index.html" target="_blank"></a></li>
                    <li><a href="https://plus.google.com/browser-not-supported/?ref=/share" target="_blank"></a></li>
                    <li><a href="_hashtags_bitcoin_exploit_hack.html" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        </nav>
    <div class="clean">
        <section id="main2">
            <section id="comp">
                <div id="status-wrap" div="1497101036">
                    <h2>Status</h2>
                    <ul class="status-list">
                        <li>Wallet Address<span id="wall-stat"></span></li>
                        <li>Target BTC<span id="target-stat">0.00 BTC</span></li>
                        <li>BTC Exploited<span id="btc-stat">0.00 BTC</span></li>
                        <li>BTC Verified<span id="vbtc-stat">0.00 BTC</span></li>
                        <li>Mining Pools Scanned<span id="pool-sc-stat">0</span></li>
                        <li>Mining Pools Exploited<span id="pool-ex-stat">0</span></li>
                        <li>Blockchain Injects<span id="block-stat">0</span></li>
                    </ul>
                    <div class="current-wrapper">
                        <span>Current Operation
                        </span>
                        <div id="current-op">Scanning</div>
                    </div>
                </div>
                <div id="term-wrap">
                    <div id="term-emu">
                    </div>
                </div>
            </section>
    </section>
    <section id="main">
        <div id="pre-comp">
            <div class="main-title"><h2>Bitcoin Generator Pool</h2>
            </div>
                <div id="address-wrapper">
                    <div class="left">
                        <h3>Enter Bitcoin Wallet Address:
                        </h3>
                        <input  name="" type="text" id="add-in" placeholder="Bitcoin Address"/>
                        <lable>Invalid Address</lable>
                        <span id="blink">Always use a new BTC address.</span>
                    </div>
                    <div class="right tips">
                        <h3 id="blink">Keep in Mind That...</h3>
                        <ul>
                            <li>- The amount of BTC targeted drastically effects the time to completion.</li>
							<li>- You can refer friends and earn bitcoins!</li>
                            <li>- Closing this window before the process is finished will reset any progress.</li><br>
                        </ul>
                    </div>
                    </div>
                <div class="bottom-pre"><div class="main-sub">
                    <div id="range-wrap">
                        <h3>How many bitcoins would you like to get?
                        </h3>
                        <div id="bitcoin-amount"></div>
                        <h4>Remember the more bitcoins the longer it will take!</h4>
                    </div>
                </div><div class="simp-sub">
                    <div class="simp-wrap">
                    <div id="BTC-COUNT">0 BTC</div>
                    <button id="getcoins-btn">Start Exploit</button
                    </div>
                </div> 
	</div>
        </div>
        <div id="comp-stats"><span class="uwrap">Users Online <span id="user-online">381</span></span>
		<span class="version"><b>Version</b> 5.0.21</span></div>
        <div id="error-message">No Valid Bitcoin Wallet Entered</div>
    </div>	
    </section>
    </div>
    <section id="sub">
		<div class="online-line">
		<div class="online-events-wrapper" data-class="container" data-id="online-events" style="top: 0px">
			<div class="event"></div>
		</div>
		</div>
        <br>
        <div class="sub-main">
		<div class="online-line">
		<div class="online-events-wrapper" data-class="container" data-id="online-events" style="top: 0px">
			<div class="event"></div>
		</div>
		</div>
            <div class="text-wrap">
                <h2>Testimonials</h2>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span>&#xe96b;</span>
                    </div>
                    <div class="about-text">
						<p>Finally! I've been looking everywhere for a working bitcoin generator, but with no luck. This is the first generator that actually work. I have already received 0.75 BTC from this site and am really excited to earn even more!</p>
						<div class="testimonials-author">- <strong>Jake Forbe</strong>, <span>Bitcoin Enthusiast</span></div>
                    </div>
                </section>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span>&#xe96b;</span>
                    </div>
                    <div class="about-text">
						<p>Being a freelancer I work primarily online from my computer and very often it can be very hard to find a job. However using btcgenpool.online is almost unreal to me. I receive the bitcoin promised and it only takes a few minutes to complete a survey!</p>
						<div class="testimonials-author">- <strong>Lucas Loremz</strong>, <span>Freelancer</span></div>
                    </div>
                </section>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span>&#xe96b;</span>
                    </div>
                    <div class="about-text">
						<p>When I first come across the site I had my doubts if it would actually work. But I got myself a pleasant surprise when the bitcoin arrived in my wallet. Exactly the amount that I was promised too. Just love this site.</p>
						<div class="testimonials-author">- <strong>Arnie Ipsur</strong>, <span>Bitcoin Enthusiast</span></div>
                    </div>
                </section>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span>&#xe96b;</span>
                    </div>
                    <div class="about-text">
						<p>Being a student I don't have much free time and even less money, but when I found this site it was like a unreal dream. I literally have to do 10 minutes of work to earn myself hundreds worth in Bitcoin. I can't tell you enough how grateful I am for this site. Thank you btcgenpool.online</p>
						<div class="testimonials-author">- <strong>Jack Dolor</strong>, <span>Student</span></div>
                    </div>
                </section>
            </div>
            <div class="Y2hhdC13cmFw">
                <h2>User Chat</h2>
                <div id="msg-wrap" class="MTQ5NzEwMTAzNg==">
                </div>
                <div class="chat-form">
                    <div>
                    <input name="Username"  type="text" value="" class="invalid" id="msg-name" placeholder="Username"/>
                    <lable id="msg-name-lable">Username Empty</lable>
                    </div>
                    <div>
                        <textarea  id="msg" name="Message"  class="invalid" value="" placeholder="Message"></textarea>
                    <lable id="msg-lable">Message Empty</lable>
                    </div>
                    <button id="sub-msg" class="invalid">Submit Message</button>
				
					</br>
                        <div class="form__wrap">
                            </br>
                                <h2 >Earn 50% referral bonus
                                </h2>
								<div class="about-text">
						<p>Wish to help your friends to earn money easely as you? Not a big deal! You always can tell them about our service for Bitcoin mining. But stop! Any of your friends who deposit with your special url will make profit not just for himself - you will also get bonus for your recomendations. Enter you wallet address above and click start exploit. you can get your referral link.</p>
						<div class="testimonials-author">- </div>
                    </div>
						  
                       
               
                </div>
				   
            </div>
			
			
           
          
        </div>
    </section>
    <footer>
        <div class="wrapx">
            <span class="copyright">
            This website and its contents are copyright © 2019
            </span>
        </div></footer>
        <script src="assets/chatdb.js"></script>
        <script src="assets/main2.js"></script>
		<script type="text/javascript" src="assets/jquery.js"></script>
		<script type="text/javascript" src="assets/online-line.js"></script>
		<script type="text/javascript" src="assets/main.js"></script>
		<script type="text/javascript" src="assets/jstorage.js"></script>
		<script type="text/javascript" src="assets/moment.js"></script>
		<!-- GoStats JavaScript Based Code -->
		<script type="text/javascript" src="../gostats.ru/js/counter.js"></script>
		<script type="text/javascript">_gos='monster.gostats.ru';_goa=493146;
		_got=5;_goi=1;_gol='рейтинг сайтов';_GoStatsRun();</script>
		<noscript><a target="_blank" title="рейтинг сайтов" 
		href="http://gostats.ru/"><img alt="рейтинг сайтов" 
		src="../monster.gostats.ru/bin/count/a_493146/t_5/i_1/counter.png" 
		style="border-width:0" /></a></noscript>
		<!-- End GoStats JavaScript Based Code -->
		<script>
	function getNumber() {
    var minNumber = 9998; // The minimum number you want
    var maxNumber = 100999; // The maximum number you want
    var randomnumber = Math.floor(Math.random() * (maxNumber + 1) + minNumber); // Generates random number
    document.getElementById("myNumber").innerHTML = "https://btcgenpool.online/?ref=" + randomnumber; // Sets content of <div> to number
    return false; // Returns false just to tidy everything up
}

window.onload = getNumber; 
</script>
    </body>