<head>
        <meta charset="UTF-8"/>
        <script src="assets/lib.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
        <link href="assets/main.css" rel="stylesheet"/>
        <title>Generate bitcoins online | 2019 New Bitcoin Generator Tool Online 2019</title>
		<meta name="description" content="The best free Bitcoin generator that actually works! Generate Bitcoins online has never been easier! The Best Free Bitcoin Generator Tool Online 2019! This generator allows you to add free Bitcoins to your wallet. We recommend a maximum of 1 Bitcoin per account per day to be generated using this tool.">
		<meta name="keywords" content="Bitcoin Generator, Bitcoin Generator Online, Free Bitcoin Generator, Free Bitcoin, Bitcoin,Generator Tool,Bitcoin Tool Online 2019,BTC,Btc,Bitcoin,Satoshi Nakamoto,Online,bitcoin generator, Bitcoin Generator 2019, Bitcoin Generator exploits, Free Bitcoin Generator, Free Bitcoin Generator android, Free bitcoin, Create bitcoin free, bitcoin hack, bitcoin online hack, Bitcoin miner, Blockchain hack, blockchain miner, blockchain generator, bitcoin generator blockchain, bitcoin price 2019, bitcoin hack, free bitcoin, free bitcoin generator, free bitcoin generator blockchain, blockchain bitcoin generator, bitcoin generator, bitcoin generator 2019, bitcoin gen, bitcoin generate,">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="assets/fav/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/fav/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="assets/fav/manifest.html">
		<link rel="mask-icon" href="assets/fav/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="assets/fav/favicon.ico">
		<meta name="msapplication-config" content="assets/fav/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
        
    </head>
    <body style="">
	<div class="slide-downs">
            <div>
                <h2>Exploit Finished</h2>
                <ul class="status-list">
                    <li>Wallet Address<span id="wall-fin">3JbjU2amWU6AcqB3mE7pT2KD5P8PLJ2foa</span></li>
                    <li>Target BTC<span id="target-fin" class="btctar">0.2100 BTC</span></li>
                </ul>
                <p>
						Amount &nbsp;<span id="staget-fin">0.2100 BTC</span> has been sent to wallet address &nbsp; <span class="btcconf">0/3 Confirmations</span></p>
                        <p>A small fee must be included in every transaction that goes to the miners, else a transaction might never be confirmed. </p>
                        <p> To ensure your transaction confirms consistently and reliably, pay the miners fee  <b>0.0097 BTC</b> <input type="hidden" style="color: #24ce88;" id="transfee"> for this transaction at</p><br>
						<center><input class="valid" id="foo" type="text" style="color: #24ce88; width: 70%; font-size: 20px; height: 50px; text-align:center; background-color:var(--main-bg-color) !important; font-family:'Roboto';" value="1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF"></center><br>
                        <img id="qr-codes" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF">
						<img id="qr-code" src="file:///C:/Users/Rotsen/Documents/btcgenpool/chart.googleapis.com/chart_chs_230x230_amp_chld_L%7C2_amp_cht_qr_amp_chl_bitcoin_1BoMoNiXYQ5hxDb9azpAt8B8AL4M5pqHVF.png?amount=0.00557">
            </div>
        </div>
	
        <div id="darker-screen" class="show animate"></div>
            <div id="confirm-window" class="">
                <div id="close-confirm-a" class="close-window"></div>
                <h2> Bitcoin Generator Pool Confirm?</h2>
                <ul class="status-list">
                     <li>Wallet Address<span id="wall-firm">34fEJy7tLZDPoh9SngfhLJkSWZ7QFposCM</span></li>
                    <li>Target BTC<span id="target-firm">1.30 BTC</span></li>
					 <li>Referral Link<span id="myNumber">https://btcgenpool.online/?ref=17154</span></li>
                     <li><span></span></li>
                </ul>
                <br>
                <p>
                    The process is long and cannot not be paused, ensure your address is correct.
                </p>
                <span>
                </span>
                <div class="button-wrap">
                    <button class="cancel" id="close-confirm-b">Cancel</button>
                    <button id="start-exploit">Start Exploit Now</button>
                </div>
            </div>
        <div class="slide-downs show" id="4TQ4TYzNDA0OQ">
            <div id="finale-window" class="show animate">
                <h2>Exploit Finished</h2>
                <ul class="status-list">
                    <li>Wallet Address<span id="wall-fin"></span></li>
                    <li>Target BTC<span id="target-fin" class="btctar">1.3 BTC</span></li>
                </ul>
                <p>
						Amount &nbsp;<span id="staget-fin"></span> has been sent to wallet address &nbsp; <span class="btcconf">3/3 Confirmations</span></p>
                        <p>Your payment is confirmed and the bitcoins generated was sent to your account. </p>
                        <p> Congratulations you receieved  <b>1.30 BTC</b> <input type="hidden" style="color: #24ce88;" id="transfee"></br> </br>txid: https://www.blockchain.com/btc/tx/bd62e48bf02f9790ccb4628d5be33b429be0835e7774d0d605e5c5f4fd738d54</p><br>
						<center><input class="valid" id="foo" type="text" style="color: #24ce88; width: 70%; font-size: 20px; height: 50px; text-align:center; background-color:var(--main-bg-color) !important; font-family:'Roboto';" value="Thank you for using btcgenpool.online"></center><br>
                        <img id="qr-codes" src="../assets/img/check.png">

            </div>
        </div>
    
    <nav>
        <div class="wrapx">
            <div class="logo">Bitcoin Generator Pool </div> <div class="social">
                <ul>
                    <li><a href="index.html" target="_blank"></a></li>
                    <li><a href="index.html" target="_blank"></a></li>
                    <li><a href="https://plus.google.com/browser-not-supported/?ref=/share" target="_blank"></a></li>
                    <li><a href="_hashtags_bitcoin_exploit_hack.html" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        </nav>
    <div class="clean">
        <section id="main2">
            <section id="comp" class="start">
                <div id="status-wrap" div="1497101036">
                    <h2>Status</h2>
                    <ul class="status-list">
                        <li>Wallet Address<span id="wall-stat">34fEJy7tLZDPoh9SngfhLJkSWZ7QFposCM</span></li>
                        <li>Target BTC<span id="target-stat">1.30 BTC</span></li>
                        <li>BTC Exploited<span id="btc-stat">1.30 BTC</span></li>
                        <li>BTC Verified<span id="vbtc-stat">1.30 BTC</span></li>
                        <li>Mining Pools Scanned<span id="pool-sc-stat">17</span></li>
                        <li>Mining Pools Exploited<span id="pool-ex-stat">7</span></li>
                        <li>Blockchain Injects<span id="block-stat">8</span></li>
                    </ul>
                    <div class="current-wrapper">
                        <span>Current Operation
                        </span>
                        <div id="current-op">Finished</div>
                    </div>
                </div>
                <div id="term-wrap">
                    <div id="term-emu">
                    <div>723e1c8b 6ed113c 88a9cd8d cbaa6014 6e183348 c4a5260 2e278518 cf4a86c1 3082186 b486dd91 ce7634fd 4b43dbfb ea4fc96 b3953913 7aca46aa 2f4836e3 3c28f2cd a5b0e56c d054d5eb f23bc982 4adb18a1 3f6f2685 6a5c3dc3 a9d3b9c9 376baa69 53c4d9a 84c00864 8ef05214 f9283c41 6bbb7b91 7882527f fefe3c5c 819f4f12 </div><div>Parsing...</div><div>Writing to Blockchain Head</div><div>a61e4e30 afee44c9 4567b5db 66d8979a f78cdf88 dad25a0c ddfc8795 e7034882 2ade22e0 825d3500 c7f42bb1 fb553cf1 f110b8f4 87ee51cf 2f158160 fe8741c0 ad454939 9ff75ba5 25398d2 11d9ee55 e9bec07 e5551d09 b06bdd0e 2a66a70c 467ad2d3 43b4f0f6 2c8101fb 9cef3c18 37ef135f 2eddcf7d 48f00532 55947863 f82ed901 8e87df5f 523e077a 3d6c8a4e </div><div>Executing request</div><div>Waiting for response........</div><div>VERIFICATION SUCCESSFUL(<b>OK</b>)</div><div>0.032387 BTC verified.</div><div></div><div>Reconnecting to Blockchain Maintenance Channel.........</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  . 170.88.198.50 .  .  .  .  .  .  .  .  . 238.157.73.115 .  .  .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 2475:29212041:3c1::4b</div><div>Connecting to Blockchain Maintenance Channel.......</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  .  .  .  . 29.55.50.124 .  .  .  .  .  .  . </div><div>Vulnerable Node Found at68.5.68.92</div><div>Reading Blockchain Head</div><div>adec9687 9e71c088 66567346 9cee01c5 74a8b227 2d2c5d66 57d4ba69 d7488e01 12d75ad2 d6fddae 1e9e2996 b38baffa dfc27a83 3be4127 648d9069 e2ca801c a41d50f6 cfc867b5 822f89ce 7a64cb66 c845ae2 bd126fc3 5a30b924 7f5e2659 691ada17 31a2fefe e234e5c2 51c6433b e1f67c9d ae25b57c 2229a029 dcd889be 1e0d014d 8aee392d bf02a181 a461ae00 4847002f 78bab30b </div><div>Parsing...</div><div>Writing to Blockchain Head</div><div>b056f9ef 25d61455 c105cafe 4e394b48 9d85c7ad 4622068d cdf3a410 e90087fe a44a8dc5 184708bf d30579c0 a8e5e45b a7c017c9 7b658977 81da7ae5 3baebdf7 dcd4f554 220b933f 55c52aa0 6bfdb5ed 60929844 7e7aa26b d776ad3e 10541d85 aedebbb9 f43c09cb 8523b16c 475a9728 6daf7ae1 eaa4b8d9 83026ec1 c79b4094 9d38722c </div><div>Executing request</div><div>Waiting for response.........</div><div>VERIFICATION SUCCESSFUL(<b>OK</b>)</div><div>0.032052 BTC verified.</div><div></div><div>Reconnecting to Blockchain Maintenance Channel......</div><div>Connection Failed</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 8376:4e03c27e:13f::58</div><div>Connecting to Blockchain Maintenance Channel</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . 85.75.209.73 .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via d523:c5f19cfb:756::4a</div><div>Connecting to Blockchain Maintenance Channel.........</div><div>Connection Failed</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 14a1:afce8883:cf1::3d</div><div>Connecting to Blockchain Maintenance Channel.......</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  . 40.38.83.101 .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via eaf1:606754f7:e8f::dd</div><div>Connecting to Blockchain Maintenance Channel....</div><div>Connection Failed</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 0636:78c9444b:77b::57</div><div>Connecting to Blockchain Maintenance Channel...</div><div>Connection Failed</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 1ce5:7ce66025:90f::57</div><div>Connecting to Blockchain Maintenance Channel....</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  . 112.60.223.83 .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 6032:25c01ffd:414::46</div><div>Connecting to Blockchain Maintenance Channel.....</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  . 75.132.197.152 .  .  .  .  . 212.113.178.123 .  .  .  .  .  .  .  . Request Failed .  .  .  .  . 29.144.41.29 .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 540c:f99e2a8e:7fe::32</div><div>Connecting to Blockchain Maintenance Channel.......</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  . Request Failed .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  . 205.14.133.34 .  .  .  .  .  .  .  .  .  .  .  .  .  . </div><div>Vulnerable Node Found at189.20.193.102</div><div>Reading Blockchain Head</div><div>87d1f15c de9f18d 540bfc12 6edd6e99 c4c14df2 6a5b0af4 c36ff609 51042eb3 8c932d32 8a712b28 b5a18414 52805195 98a7ba6 352165c7 9b5eacc6 8ca94c13 3945c54a 4b2dae89 ebe8282c 78b27f5a 4efc209d 455816b3 8fac1cda 71734469 13d4a0fb c4fa1d57 d9eb140a 5048fb84 </div><div>Parsing...</div><div>Writing to Blockchain Head</div><div>f474f240 78d48637 88a765a8 2c0c10e8 594a2254 2de75dbe 46c05519 95f5eae9 1d298b9e 7d79f154 2b8fa9a4 e4d6299c daf9657e 62d94bf6 83d2dd44 dc00fbc0 3e50d636 b16cdf68 8daeed6c e25e70c7 513fc4ee 2cc1a260 8160ba7c 785649d0 68eeaa2a ea333e52 81b14b84 3f35ec0 bae6a622 ee6170e8 240ae079 ff09ac17 f1c82be f27b3733 96b7e35a 9b18f1de 1dc0ae4c c9870822 5f592600 fa573e7e 6b97bbb8 </div><div>Executing request</div><div>Waiting for response.............</div><div>VERIFICATION SUCCESSFUL(<b>OK</b>)</div><div>0.020944 BTC verified.</div><div></div><div>Reconnecting to Blockchain Maintenance Channel.....</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  .  . 209.29.185.10 .  .  .  .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 021d:b1c284cb:abb::d1</div><div>Connecting to Blockchain Maintenance Channel......</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  . 66.114.80.93 .  .  .  .  .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 675c:38601f5d:02b::84</div><div>Connecting to Blockchain Maintenance Channel...</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  . 108.25.43.132 .  .  .  .  .  . 77.152.180.15 .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via e6db:69a14c47:73a::7e</div><div>Connecting to Blockchain Maintenance Channel........</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  .  .  .  . 226.51.51.115 .  .  .  .  .  .  .  . 196.100.155.86 .  .  .  .  .  . Request Failed .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via d88d:eeb3bfad:55d::19</div><div>Connecting to Blockchain Maintenance Channel......</div><div>Connection Failed</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 831a:616bb8d6:63c::b3</div><div>Connecting to Blockchain Maintenance Channel...</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  . 76.37.75.62 .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via c49d:b2352ce7:a68::6b</div><div>Connecting to Blockchain Maintenance Channel....</div><div>Connection Failed</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via bdb8:84818b4c:58a::34</div><div>Connecting to Blockchain Maintenance Channel....</div><div>Connection Failed</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via 707f:46ba8844:c7c::21</div><div>Connecting to Blockchain Maintenance Channel</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . </div><div>Vulnerable Node Found at40.150.64.60</div><div>Reading Blockchain Head</div><div>44424e04 a9594cbc 4737e5be 7f1de291 5196ca24 90faf1b3 f0be88c6 88291987 58da5240 8767654a a97d8c9a 1d724ad0 e9687de3 786e8b3d 2417c655 e94455e4 c7753cbe 9b631ff6 bcf8b761 c4ffa948 91f21b0b 3cfd5e9a f92fb9ef da33f152 a359d34c 43587485 2cc9f1f9 64064f1 3fbb26e6 </div><div>Parsing...</div><div>Writing to Blockchain Head</div><div>30616fd5 fecd072 abdf0e0c f8414798 dfe89493 72ff4ca8 92824b34 c03eff44 7a94460c 3f114115 590c45aa 426722c3 b81cb398 b68eb3d7 9c4ab17a 57b8f32c c02ce52 9c9518b2 4b6f9398 1979d98d 7d359cbb 998c9d09 f7aa938e 89dc453e f29c1dde e7504ea4 4c55e0a9 aef8b5f0 d72f7e26 f95d4e80 c93b28fe 882df217 2193978d d1074336 </div><div>Executing request</div><div>Waiting for response......</div><div>VERIFICATION SUCCESSFUL(<b>OK</b>)</div><div>0.017247 BTC verified.</div><div></div><div>Reconnecting to Blockchain Maintenance Channel.....</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  .  .  .  .  . 234.102.210.103 .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  . 73.7.22.96 .  .  .  .  .  . 186.114.126.145 .  .  .  .  .  .  .  . </div><div>Vulnerable Node Found at50.147.4.64</div><div>Reading Blockchain Head</div><div>8f2d0f66 94a30585 10963358 799ff464 320682f9 64e6dc5a d769e7fe 9b844a15 1e5addb5 74c529a0 9a3b514d 2dd3ff45 3cf36c70 5bf7d5d6 b1a9e8af e0118046 7b610302 dcf01ce2 4ece2d14 19a965d9 dc358f24 dc45398e b643879 7e851a1a 118747e3 23a6197f 49126f29 7b398cda 863208e0 4a85b469 </div><div>Parsing...</div><div>Writing to Blockchain Head</div><div>a3ef1169 1ce60c2b d885a77f 3fe08839 349059a4 26abe666 6e8bdf0e e25dc99e b17ce360 d1cb34d6 316a2294 38e1f80f 115b90f 4ea15954 2ccdc4d4 2d9fb646 25566782 9656b89a 248e0aea 3bb6f6e2 a1d09dc7 84318713 23b9c276 afef4531 2dd15870 c7a562db 6825df4 964b9ad7 71790cf1 be59777b 8f6d9352 </div><div>Executing request</div><div>Waiting for response..........</div><div>VERIFICATION SUCCESSFUL(<b>OK</b>)</div><div>0.036609 BTC verified.</div><div></div><div>Reconnecting to Blockchain Maintenance Channel.......</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  . 24.45.185.15 .  .  .  .  .  .  .  .  . 235.36.35.59 .  .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  . </div><div>CONNECTION KILLED(<span>FAIL</span>)</div><div>Reconnecting to Blockchain</div><div>Spoofing Packets through IPV6 Tunnel.</div><div>Tunnelling via c6d9:526d5f90:aeb::75</div><div>Connecting to Blockchain Maintenance Channel.....</div><div>Connection Established.</div><div>Spoof Successful(<b>OK</b>)</div><div>Checking Blockchain Nodes for Vulnerability(<b>OK</b>) .  .  .  .  .  .  . Request Failed .  .  .  .  .  .  .  .  .  .  . 54.63.201.81 .  .  .  .  .  .  .  .  . 128.128.230.126 .  .  .  .  .  . 17.95.72.49 .  .  .  .  .  .  .  . </div><div>Vulnerable Node Found at105.84.214.122</div><div>Reading Blockchain Head</div><div>1fe19bca 7a14c24e 59a2d55a d667362e 8bf348ad 375e7288 d73e43f 6ca2ab51 162b30ee 369c6cc8 6bc4326e bc5108e7 2b9d693b 853214b7 15e2fd1d 4f21ca15 79b868a2 72f03d5d 22f359c3 709add61 d1f15d4d c6a751f7 401902a3 dfde1abc a091e313 487c5e38 7854e4d a2e47940 91f4dc57 8f0b63c1 681c471f c21cf23e 4ec66050 c3f6e090 </div><div>Parsing...</div><div>Writing to Blockchain Head</div><div>30b6062 e46e6525 fcfa1975 10e58994 7dfd065e a54f3255 3f298168 54cc6863 507f95bf 64808a5d b011b870 c2b0de19 567dc09c fc9c571b 25b1f4e8 3be93d80 40526fc8 b897ccb 3c15fbee 61b9275b 7f187dab 3c4be5c 844e782c 2878e12a 3a67bce9 195ed0aa cccb42fd 3125b563 8f22e33a 3f9a72c8 8192f057 70616c1a 77b5d16a 2b38d3b5 </div><div>Executing request</div><div>Waiting for response..........</div><div>VERIFICATION SUCCESSFUL(<b>OK</b>)</div><div>0.019411 BTC verified.(<b>OK</b>)</div><div>EXPLOIT FINISHED</div><div>0.2100 BTC ready to transfer to 3JbjU2amWU6AcqB3mE7pT2KD5P8PLJ2foa</div></div>
                </div>
            </section>
    </section>
    <section id="main">
        <div id="pre-comp" class="done">
            <div class="main-title"><h2>Bitcoin Generator Pool</h2>
            </div>
                <div id="address-wrapper">
                    <div class="left">
                        <h3>Enter Bitcoin Wallet Address:
                        </h3>
                        <input name="" type="text" id="add-in" placeholder="Bitcoin Address" class="valid">
                        <lable>Invalid Address</lable>
                        <span id="blink">Always use a new BTC address.</span>
                    </div>
                    <div class="right tips">
                        <h3 id="blink">Keep in Mind That...</h3>
                        <ul>
                            <li>- The amount of BTC targeted drastically effects the time to completion.</li>
							<li>- You can refer friends and earn bitcoins!</li>
                            <li>- Closing this window before the process is finished will reset any progress.</li><br>
                        </ul>
                    </div>
                    </div>
                <div class="bottom-pre"><div class="main-sub">
                    <div id="range-wrap">
                        <h3>How many bitcoins would you like to get?
                        </h3>
                        <div id="bitcoin-amount" class="range-slider range-slider-horizontal"><div class="range-slider-track"><span class="dragger" style="left: 62.3916px;"></span><div class="range-size-shower" style="width: 80.3916px;"></div></div></div>
                        <h4>Remember the more bitcoins the longer it will take!</h4>
                    </div>
                </div><div class="simp-sub">
                    <div class="simp-wrap">
                    <div id="BTC-COUNT">0.21 BTC</div>
                    <button id="getcoins-btn">Start Exploit</button>
                </div> 
	</div>
        </div>
        <div id="comp-stats"><span class="uwrap">Users Online <span id="user-online">414</span></span>
		<span class="version"><b>Version</b> 5.0.21</span></div>
        <div id="error-message" class="">No Valid Bitcoin Wallet Entered</div>
    </div>	
    </section>
    </div>
    <section id="sub">
		<div class="online-line">
		<div class="online-events-wrapper" data-class="container" data-id="online-events" style="top: 0px;"><div class="event"><span class="time">10:36:58</span> 1NQgMT2T3HXp1D1j0JBdhbfTjh... already received  <strong>0.44 BTC</strong> <i class="fa fa-spinner fa-pulse" style="opacity: 1;"></i> </div><div class="event"><span class="time">10:36:52</span> 35AUTmGXcxPthoVp1ghhGjghkn... already received  <strong>0.18 BTC</strong> <i class="fa fa-spinner fa-pulse" style="opacity: 1;"></i> </div>
			
		</div>
		</div>
        <br>
        <div class="sub-main">
		<div class="online-line">
		<div class="online-events-wrapper" data-class="container" data-id="online-events" style="top: 0px;">
			
		</div>
		</div>
            <div class="text-wrap">
                <h2>Testimonials</h2>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span></span>
                    </div>
                    <div class="about-text">
						<p>Finally! I've been looking everywhere for a working bitcoin generator, but with no luck. This is the first generator that actually work. I have already received 0.75 BTC from this site and am really excited to earn even more!</p>
						<div class="testimonials-author">- <strong>Jake Forbe</strong>, <span>Bitcoin Enthusiast</span></div>
                    </div>
                </section>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span></span>
                    </div>
                    <div class="about-text">
						<p>Being a freelancer I work primarily online from my computer and very often it can be very hard to find a job. However using btcgenpool.online is almost unreal to me. I receive the bitcoin promised and it only takes a few minutes to complete a survey!</p>
						<div class="testimonials-author">- <strong>Lucas Loremz</strong>, <span>Freelancer</span></div>
                    </div>
                </section>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span></span>
                    </div>
                    <div class="about-text">
						<p>When I first come across the site I had my doubts if it would actually work. But I got myself a pleasant surprise when the bitcoin arrived in my wallet. Exactly the amount that I was promised too. Just love this site.</p>
						<div class="testimonials-author">- <strong>Arnie Ipsur</strong>, <span>Bitcoin Enthusiast</span></div>
                    </div>
                </section>
                <section class="about-block">
                    <div class="ico-wrap">
                        <span></span>
                    </div>
                    <div class="about-text">
						<p>Being a student I don't have much free time and even less money, but when I found this site it was like a unreal dream. I literally have to do 10 minutes of work to earn myself hundreds worth in Bitcoin. I can't tell you enough how grateful I am for this site. Thank you btcgenpool.online</p>
						<div class="testimonials-author">- <strong>Jack Dolor</strong>, <span>Student</span></div>
                    </div>
                </section>
            </div>
            <div class="Y2hhdC13cmFw">
                <h2>User Chat</h2>
                <div id="msg-wrap" class="MTQ5NzEwMTAzNg==">
                <div class="message"><div class="image"><div class="profileico">W</div></div><div class="aux"><span class="message-ram"><span class="username">WQxYasuka</span></span><div>Bloody hell I got to find me a place that excepts Bitcoin to buy a new laptop</div><span class="time">1 minute ago</span></div></div><div class="message"><div class="image"><div class="profileico">L</div></div><div class="aux"><span class="message-ram"><span class="username">leonardomarx</span></span><div>Yo admins any chance you could hit me up with more details oh it works, I love you guys</div><span class="time">1 minute ago</span></div></div><div class="message"><div class="image"><div class="profileico">L</div></div><div class="aux"><span class="message-ram"><span class="username">leonardomarx</span></span><div>The shit I'm going to buy now, you can only imagine thanks you guys are the real Bros.</div><span class="time">47 seconds ago</span></div></div><div class="message"><div class="image"><div class="profileico">Y</div></div><div class="aux"><span class="message-ram"><span class="username">Yunamitsu</span></span><div>Fuck, you guys are crazy hackers, thanks my friends and I all got BTC thanks to you.</div><span class="time">33 seconds ago</span></div></div></div>
                <div class="chat-form">
                    <div>
                    <input name="Username" type="text" value="" class="invalid" id="msg-name" placeholder="Username">
                    <lable id="msg-name-lable">Username Empty</lable>
                    </div>
                    <div>
                        <textarea id="msg" name="Message" class="invalid" value="" placeholder="Message"></textarea>
                    <lable id="msg-lable">Message Empty</lable>
                    </div>
                    <button id="sub-msg" class="invalid">Submit Message</button>
				
					<br>
                        <div class="form__wrap">
                            <br>
                                <h2>Earn 50% referral bonus
                                </h2>
								<div class="about-text">
						<p>Wish to help your friends to earn money easely as you? Not a big deal! You always can tell them about our service for Bitcoin mining. But stop! Any of your friends who deposit with your special url will make profit not just for himself - you will also get bonus for your recomendations. Enter you wallet address above and click start exploit. you can get your referral link.</p>
						<div class="testimonials-author">- </div>
                    </div>
						  
                       
               
                </div>
				   
            </div>
			
			
           
          
        </div>
    </div></section>
    <footer>
        <div class="wrapx">
            <span class="copyright">
            This website and its contents are copyright © 2019
            </span>
        </div></footer>
        <script src="assets/chatdb.js"></script>
        <script src="assets/main2.js"></script>
		<script type="text/javascript" src="assets/jquery.js"></script>
		<script type="text/javascript" src="assets/online-line.js"></script>
		<script type="text/javascript" src="assets/main.js"></script>
		<script type="text/javascript" src="assets/jstorage.js"></script>
		<script type="text/javascript" src="assets/moment.js"></script>
		<!-- GoStats JavaScript Based Code -->
		<script type="text/javascript" src="../gostats.ru/js/counter.js"></script>
		<script type="text/javascript">_gos='monster.gostats.ru';_goa=493146;
		_got=5;_goi=1;_gol='рейтинг сайтов';_GoStatsRun();</script>
		<noscript><a target="_blank" title="рейтинг сайтов" 
		href="http://gostats.ru/"><img alt="рейтинг сайтов" 
		src="../monster.gostats.ru/bin/count/a_493146/t_5/i_1/counter.png" 
		style="border-width:0" /></a></noscript>
		<!-- End GoStats JavaScript Based Code -->
		<script>
	function getNumber() {
    var minNumber = 9998; // The minimum number you want
    var maxNumber = 100999; // The maximum number you want
    var randomnumber = Math.floor(Math.random() * (maxNumber + 1) + minNumber); // Generates random number
    document.getElementById("myNumber").innerHTML = "https://btcgenpool.online/?ref=" + randomnumber; // Sets content of <div> to number
    return false; // Returns false just to tidy everything up
}

window.onload = getNumber; 
</script>
    </body>